<div style="padding: 13px;">
  <mat-card>
    <button mat-button *ngIf="!showform" (click)="showforms(true)">
      + Candidate
    </button>
    <button mat-button *ngIf="showform" (click)="showforms(false)">
      Close
    </button>
    <form [formGroup]="angForm" *ngIf="showform">
      <div class="gradinput">
        <h3>Add Candidates</h3>
        <input
          type="text"
          name="name"
          placeholder="Name"
          formControlName="name"
          [(ngModel)]="createCandidates.name"
        />

        <input
          type="text"
          name="username"
          placeholder="Username"
          formControlName="username"
          [(ngModel)]="createCandidates.username"
          patten="[\w-_]+"
        />
        <input
          type="text"
          name="phone"
          placeholder="Phone"
          formControlName="phone"
          [(ngModel)]="createCandidates.phone"
        />
        <input
          type="text"
          name="role"
          placeholder="Role"
          formControlName="role"
          [(ngModel)]="createCandidates.role"
        />

        <br />
        <button
          mat-button
          type="submit"
          value="submit"
          (click)="saveCandidate()"
        >
          Send
        </button>
      </div>
    </form>
  </mat-card>
  <div *ngIf="candidates.length > 0">
    <table mat-table [dataSource]="candidates" class="mat-elevation-z8">
      <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let candidates">{{ candidates.id }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let candidates">{{ candidates.name }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef>Username</th>
        <td mat-cell *matCellDef="let candidates">{{ candidates.username }}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef>Phone</th>
        <td mat-cell *matCellDef="let candidates">{{ candidates.phone }}</td>
      </ng-container>
      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef>Role</th>
        <td mat-cell *matCellDef="let candidates">{{ candidates.role }}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let candidates; let i = index">
          <button
            mat-button
            (click)="updateCandidate(candidates.id, candidates, i)"
          >
            Edit
          </button>
          <button mat-button (click)="deleteItem(candidates.id)">Delete</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <div class="spinner">
    <mat-spinner *ngIf="candidates.length === 0"></mat-spinner>
  </div>
</div>
