<div style="padding: 13px;" class="container">
  <mat-card>
    <form [formGroup]="angForm">
      <h3>Write your comment!</h3>
      <textarea
        name="content"
        placeholder="Message..."
        formControlName="content"
        #content
        rows="5"
        cols="80"
        [mention]="candidates"
        [mentionConfig]="mentionConfig"
        [(ngModel)]="createPosts.content"
      ></textarea>
      <br />
      <button
        mat-button
        type="submit"
        value="submit"
        (click)="onClickSubmit(content.value)"
      >
        Send
      </button>
    </form>
  </mat-card>

  <div class="nomessage">
    <p *ngIf="posts.length === 0">Write your first message...</p>
  </div>

  <mat-card class="example-card" *ngFor="let post of posts; let i = index">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ post.username }}</mat-card-title>
      <mat-card-subtitle>{{ post.title }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p (click)="click($event)" [innerHTML]="post.content | safe: 'html'"></p>
      <p class="datetime">{{ post.date | date: "fullDate" }}</p>
    </mat-card-content>
    <mat-card-actions fxLayout="row">
      <div fxFlex></div>
      <div fxLayoutAlign="right">
        <button mat-button (click)="updatePosts(post.id, post.content, i)">
          Edit
        </button>
        <button mat-button (click)="deleteItem(post)">Delete</button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
